.hero-header {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../Images/po.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}